DJANGO_SETTINGS_MODULE=config.django.local
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=your-secret-key-here

POSTGRES_DB=rental_database
POSTGRES_USER=rental_user
POSTGRES_PASSWORD=rental_password
POSTGRES_PORT=5432
POSTGRES_HOST=localhost